In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import re
import numpy as np


Restaurant_Names = []    
Rating = []
Locations = [] 
Cuisine = []
Price = []
Area = []
Region = []


for i in range(1,50):
    url = f"https://www.dineout.co.in/hyderabad-restaurants?loc=Hyderabad&p={i}"
    page = requests.get(url)
    soup = BeautifulSoup(page.text) 
    
    
    for i in soup.find_all('div', class_="restnt-main-wrap clearfix"):  #restaurant_names-->1
        name = i.find('a', class_="restnt-name").text
        if name:
            Restaurant_Names.append(name)
        else:
            Restaurant_Names.append(np.nan)  
            
            
            
    for i in soup.find_all('div', class_="restnt-main-wrap clearfix"):  # cuisine -->2
        text = i.find("span", class_="double-line-ellipsis").text
    
        regex = re.findall(r'\|(.+)',text)
        if regex:
            Cuisine.append(regex[0])
        else:
            Cuisine.append(np.nan)  
            
            
            
    
    for i in soup.find_all('div',class_="restnt-main-wrap clearfix"):  # rating--3
        r = i.find("div", class_ = "img-wrap").text
        
        regex = re.search(r'(\d+(\.\d+)?)', r)

        if regex:
            Rating.append(float(regex.group(1)))
        else:
            Rating.append(np.nan)

  
            
            
    for i in soup.find_all('div', class_="restnt-main-wrap clearfix"):  # location --->4
        loc = i.find("div",class_="restnt-loc").text
    
        regex = re.match(r'([^,]+)',loc)
    
        if regex:
            result = regex.group(1)
            Locations.append(result)
        else:
            Locations.append(np.nan)
            
            
            
    for i in soup.find_all('div', class_="restnt-main-wrap clearfix"):  # area ----> 5
        loc = i.find("div", class_="restnt-loc").text
    
    
        regex = re.search(r',\s*(.+)\s*,',loc)
    
        if regex:
            a = regex.group(1).strip()
            Area.append(a)
        else:
            Area.append(np.nan)
            
            
            
    for i in soup.find_all('div', class_="restnt-main-wrap clearfix"):  # region ---> 6
        loc = i.find("div", class_="restnt-loc").text
        location = loc.split(',')
    
        if len(location) > 1:
            last = location[-1].strip()
            Region.append(last)
        else:
            print("np.nan")  
            
            
    for i in soup.find_all('div', class_="restnt-main-wrap clearfix"):   # price--->7
        text = i.find("span", class_="double-line-ellipsis").text.replace('₹','')
        t = text.replace(",",'')
    
        regex = re.search(r'(.*)(\sfor\s)', t)

        if regex:
            result = regex.group(1).strip()
            Price.append(result)
        else:
            Price.append(np.nan)

In [2]:
Restaurant = {"Restaurant_Name" :Restaurant_Names,"Cuisine":Cuisine,"Price for 2(approx)":Price,"Rating" :Rating,"Location":Locations,"Area":Area,"Region":Region,}

In [3]:
df = pd.DataFrame(Restaurant)

In [4]:
df

,Restaurant_Name,Cuisine,Price for 2(approx),Rating,Location,Area,Region
0,Lake District Bar & Kitchen,"North Indian, Asian",1500,5.0,Necklace Road,NaN,Secunderabad
1,Ohris Jiva Imperia,"North Indian, Chinese, Rajasthani, South Indian",1200,4.0,White House,Begumpet,Secunderabad
2,So. The Sky Kitchen,"North Indian, Chinese, Asian, Mughlai",1800,4.0,Aryan's Building,Jubilee Hills,Central West Hyderabad
3,Jalpaan,"North Indian, Italian, Chinese, Continental, ...",1200,4.0,Oasis Centre,Begumpet,Secunderabad
4,The Waterfront,"Chinese, North Indian",1500,4.3,Necklace Road,NaN,Secunderabad
...,...,...,...,...,...,...,...
1024,Ala Dakshinapuramlo Buffet,"South Indian, Seafood",1500,4.0,Phoenix Tower A,Hitech City,West Hyderabad
1025,Apsara Ice Creams,Desserts,300,4.3,Kukatpally,NaN,West Hyderabad
1026,Ohri's Sahib's BBQ,"North Indian, Awadhi, Hyderabadi",2000,3.6,Hitech City,NaN,West Hyderabad
1027,Itlu,"South Indian, North Indian",1000,NaN,Jubilee Hills,NaN,Central West Hyderabad
1028,Republic of Noodles,"Chinese, Asian",2100,4.7,Lemon Tree Premier,"HITEC City, Hyderabad,Hitech City",West Hyderabad

In [5]:
df.to_csv("restaurants.csv")